@import "tailwindcss";

:root {
  --background: #1a1a1e;
  --foreground: #F3F4F6;
  --color-C179FF:#C179FF;
  --bg-34343A:#34343A;
  --color-9c9dao:#9c9dao;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 커스텀 글로벌 스타일 추가 가능 */
@layer base {
  html, body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  button {
    cursor: pointer;
    all: unset;
    transition: background-color 0.2s ease;
  }
  p {
    margin:0
  }
  button:disabled{
    cursor: not-allowed;
    opacity: 0.5;
  }
  em{
    font-style: normal;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  img, video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
  }
  
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  input, textarea, select {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    border: none;
    background: transparent;
    outline: none;
  }
  
  textarea {
    resize: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}
